<h1>item new</h1>

	<%= form_for(@item) do |f| %>
    <div class="field">
      <%= f.label :画像 %>
      <%= f.attachment_field :image %>
    </div>
    <div class="field">
      <%= f.label :名前 %>
      <%= f.text_field :name, class: "name" %>
    </div>
    <div class="field">
      <%= f.label :リンク %>
      <%= f.text_field :url, class: "url" %>
    </div>
	<%= f.submit %>
	<% end %>